* {
  margin: 0;
  padding: 0;
  box-sizing: 
}

a {
  display: inline-block;
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  background-color: var(--white);
}

:root {
  --header-green: #82ABA1;
  --color-pink: #e8aeb7;
  --color-blue: #3d518c;
  --color-celeste: #a9fff7;
  --color-green: #226f54;

  --white: #fff;
  --black: #01011e;
  
  --text-size: 1.2rem;
  --title-size: 2rem;
  --sub-title: 1rem;
}


/*navbar*/
.bar-nav {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  background-color: var(--header-green);
  padding: 1rem; 

}

.logo {
  font-size: 3rem;
  font-weight: 500;
  color: var(--color-pink);
  transition: opacity 0.1s;
  margin-right: 4rem;
}

.logo:hover {
  color: var(--color-pink);
  opacity: 0.6;
}

.bar-nav button {
  color: var(--color-pink);
}

.ul-bar {
  margin-left: 5rem;
}

.ul-bar > li a {
  color: var(--white);
  transition: color .1s ease;
  font-size: var(--title-size);
}

.ul-bar > li a:hover {
  color: var(--color-pink)
}


/*carousel*/
.carousel-home {
  margin: 0 auto;
}

.carousel-imagens {
  margin: 0 auto;
  width: 100%;
}

.destaques {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
}

.categoria {
  display: flex;
  flex-direction:row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.cate-goria {
  width: 290px;
  background-color: var(--color-pink);
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
}

.cate-goria >   p {
  font-size: 1.9rem;
  font-weight: 500;
  color: var(--white);
  transition: opacity 0.1s;
  text-transform: uppercase;
  margin: 0;

}

.cate-goria:hover {
  opacity: 0.7;
}

.men {
  background-color: var(--header-green)
}

.destaques .p-destaque {
  text-align: center;
  font-size: var(--title-size);
  font-weight: 500;
  color:var(--header-green);
  margin: 4rem 0;
  text-transform: uppercase;
}

.card-img-top {
  transition: transform .2s;
}


.card-img-top:hover {
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}


.flex-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1rem;

  margin: 0 auto;
}

.card-text {
  color: var(--color-green)
}

.valor {
  font-weight: 600;
  color: var(--color-blue);
}

.btn {
  color: var(--black);
  background-color: var(--color-celeste);
  font-weight: 500;
  border-radius: 8px ;
}

.btn:hover {
  background-color: var(--color-celeste);
  color: var(--color-pink)
}


.footer {
  width: 100%;
  height: 400px;
  background-color: var(--header-green);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;

  padding: 2rem 4rem;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}

.logo-footer {
  font-size: 4rem;
}

.div-logo {
  margin-bottom: 2rem;
}

.pagamento, .atendimento, .list-menu{
  margin: 0 auto;
  width: 290px;
  height:160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.p-footer {
  font-size: var(--text-size);
  color: var(--color-celeste);
  text-align: justify;
}

.ul-list {
  text-align: start;
  font-size: --sub-title;
  color: var(--white);

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.ul-list > .icon {
  font-size: var(--text-title);
  margin-top: 10px;
}




/*vitrine*/

.banner {
  width: 100%;
}

.banner > img {
  display: block;
  margin: 0 auto;
}


.meninas {
  color: var(--color-pink);
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0;
}

@media(max-width: 999px){
  .cate-goria {
    width: 390px;
  }


  .footer {
    height: 900px;  
    padding: 2rem 2rem; 
  }

  .footer-list {
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }

  .div-logo {
    margin-bottom: 2rem;
  }

  .p-footer {
    font-size: 1.5rem;
    text-align: start;
  }

  .pagamento, .atendimento {
    margin: 1rem;
  }

  .flex-card {
    flex-direction: column;
  }
   
}

@media(min-width:2220px){
  .cate-goria {
    width: 400px;
  }
  
  .cate-goria >   p {
    font-size: 2.5rem;
}
}